# ===========================
# Java
# ===========================
*.class
*.jar
*.war
*.ear
target/
build/

# ===========================
# Maven
# ===========================
.mvn/

# ===========================
# IntelliJ
# ===========================
.idea/
*.iml
out/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Python
# ===========================
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ===========================
# TensorFlow Models
# ===========================
*.h5
*.keras
*.ckpt
saved_model/

# ===========================
# Node
# ===========================
node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# ===========================
# ZIP files
# ===========================
*.zip

# ===========================
# Logs
# ===========================
*.log

# ===========================
# OS
# ===========================
Thumbs.db
.DS_Store